.vs/
.vscode/
bin/
obj/
packages/
*.user
*.suo
*.userosscache
*.sln.docstates
*.cache
*.log
*.pdb
*.dll
*.exe
*.config.user
*.aps
*.ncb
*.opendb
*.VC.db
TestResults/
*.dbmdl
*.jfm
*.tlog
*.lastbuildstate
*.tmp
*.bak
*.swp
*.tmp_proj
*.DS_Store
*.sln.ide
.nuget/
