<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="HospitalDB" connectionString="server=localhost;port=3306;user id=root;password=root;pooling=True;characterset=utf8mb4;allowpublickeyretrieval=True;database=HospitalManagementSystem"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>